.organo-button {
    background-color: #f06414;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 16px 0;
}

.organo-button:hover {
    color: #313131;
}